@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: monospace;
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  background-color: #f8dfc9;
}
